{% extends "part-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/"><button type="button">Novo Evento</button></a>
    <table>
        <tr>
            <th style="border: 1px solid black; border-radius: 2px;">Título</th>
            <th style="border: 1px solid black; border-radius: 2px;">Data do Evento</th>
            <th style="border: 1px solid black; border-radius: 2px;">Data de criação</th>
        </tr>
        
    {% for evento in eventos %}
        <tr>
            <td style="border: 1px solid black; border-radius: 2px;">{{ evento.titulo }}</td>
            <td style="border: 1px solid black; border-radius: 2px;">{{ evento.data_evento }}</td>
            <td style="border: 1px solid black; border-radius: 2px;">{{ evento.data_criacao }}</td>
        </tr>
    {% endfor %}
        
    </table>
{% endblock %}